.Rproj.user
.Rhistory
.RData
.DS_Store
.Ruserdata
numerical_experiments/LongitudinalUpstrap/
numerical_experiments/data_processed/
numerical_experiments/results/
numerical_experiments/results_CL/
numerical_experiments/results_figures/
numerical_experiments/utils_CL_notes/
numerical_experiments/Rmd/
numerical_experiments/.DS_Store
Icon

# ignore all files starting with
JB*
jb*
JOB*.*
JOB*
tune_*

# ignore all files ending with
*.core

# Exclude everything from the folder content, but do not exclude the folder itself
numerical_experiments/results_CL/2020-09-19-estimate_ci_coverage_N0_N1_results/*
!numerical_experiments/results_CL/2020-09-19-estimate_ci_coverage_N0_N1_results/.gitkeep 

numerical_experiments/results_CL/2020-10-02-upstrap_estimate_sd_results/*
!numerical_experiments/results_CL/2020-10-02-upstrap_estimate_sd_results/.gitkeep 

# Exclude all but one file 
# ref: https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
numerical_experiments/bash_CL/2020-12-31-twosample_ttest/*
!numerical_experiments/bash_CL/2020-12-31-twosample_ttest/twosample_ttest

numerical_experiments/bash_CL/2020-12-29-lmm_trt/*
!numerical_experiments/bash_CL/2020-12-29-lmm_trt/lmm_trt

numerical_experiments/bash_CL/2021-01-05-sd_estimation_test/*
!numerical_experiments/bash_CL/2021-01-05-sd_estimation_test/sd_estimation_test

numerical_experiments/bash_CL/2021-02-15-onesample_ttest/*
!numerical_experiments/bash_CL/2021-02-15-onesample_ttest/onesample_ttest

# figures
numerical_experiments/R_figures/

# Use case exmples
use_case_examples/_OLD/
use_case_examples/bausema2016/data_raw/
use_case_examples/bausema2016/data_raw_csv/
use_case_examples/bausema2016/results/
use_case_examples/bausema2016/Rmd/
use_case_examples/cohen2015/
use_case_examples/notes/

# other numberical experiments
numerical_experiments/R/OLD/
numerical_experiments/R/OLD_0/
numerical_experiments/R/OLD_1/
numerical_experiments/R/OLD_2/
numerical_experiments/R/OLD_3/
numerical_experiments/R/*simr*
##
numerical_experiments/R/*JOB*





